// buttons
.btn-material-icon-back {
    filter: invert(44%) sepia(71%) saturate(6032%) hue-rotate(199deg) brightness(102%) contrast(108%);
}
.btn-material-icon-back:hover {
    filter: invert(96%) sepia(70%) saturate(88%) hue-rotate(169deg) brightness(90%) contrast(94%);
}
.btn-material-icon-edit {
    filter: invert(11%) sepia(8%) saturate(946%) hue-rotate(169deg) brightness(98%) contrast(90%);
}
.btn-material-icon-edit:hover {
    filter: invert(88%) sepia(28%) saturate(7203%) hue-rotate(4deg) brightness(108%) contrast(83%);
}
.btn-material-icon-delete {
    filter: invert(26%) sepia(93%) saturate(1536%) hue-rotate(331deg) brightness(96%) contrast(91%);
}
.btn-material-icon-delete:hover {
    filter: invert(74%) sepia(50%) saturate(7134%) hue-rotate(151deg) brightness(91%) contrast(82%);
}